* {
  padding: 0;
  margin: 0; }

/*LISTAS*/
/*PARRAFOS*/
/*SUBTITULOS*/
/*FOOTER*/
/*MAIN*/
/*BODY*/
/*NAVEGADOR*/
:root {
  --colorbody: white;
  --separacion: 1%; }

/*HEADER*/
body {
  background-color: #0a191d;
  margin: 1rem 1rem 1rem 1rem; }

footer {
  background-image: linear-gradient(blue, #ddebe0, #008b84);
  padding: var(--separacion);
  margin: 3%; }

header {
  padding: 2%;
  margin: 3%; }

main {
  padding: 5%;
  margin: 1%; }

/*NAVEGADOR*/
nav li, nav a {
  font-size: 25px; }

.listados__lista {
  color: cyan;
  font-family: "Sans", sans-serif;
  font-size: 100%; }

.listados__item {
  color: cyan;
  font-family: "Sans", sans-serif;
  font-size: 90%; }

.listados__enlace {
  color: cyan;
  font-family: "Sans", sans-serif;
  font-size: 90%; }

#fondoMain {
  background-image: linear-gradient(brown, #4e1515);
  margin: 3%; }

.cuerpo__parrafos {
  color: cornsilk;
  font-family: "Cabin", sans-serif;
  font-size: 100%;
  font-weight: bold; }

.cuerpo__subTitulos {
  color: antiquewhite;
  font-family: "Sans", sans-serif;
  font-size: 150%;
  font-style: inherit;
  text-align: center; }

.foter__titulo {
  color: textColorFoter;
  font-size: 100%;
  font-family: "Anton", sans-serif; }

.foter__listado {
  color: #0c1a6e;
  font-weight: lighter;
  font-style: inherit; }

h1 {
  color: #008b84;
  font-size: 250%;
  font-family: "Kaushan Script", cursive;
  padding-left: 10px;
  margin-top: 50px;
  font-weight: bold; }

/*SUB-MENU*/
section ul ul {
  position: absolute;
  display: none; }
  section ul ul li, section ul ul nav a, nav section ul ul a {
    display: block;
    text-decoration: none;
    color: antiquewhite;
    background-color: black; }

section ul li:hover ul, section ul nav a:hover ul, nav section ul a:hover ul {
  display: block;
  font-size: 20px; }

/*FIN SUB-MENU*/
/* INDEX*/
#presentacion {
  width: 100%;
  background-image: linear-gradient(brown, #4e1515);
  background-size: 150%;
  margin-top: 50px; }

#flexIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px; }

.imgVideo {
  width: 80%; }

.video, #seguimiento {
  height: 100%;
  text-align: right;
  padding-top: 50px; }

#seguimiento {
  text-align: left; }

#tabla {
  background-color: blue;
  padding: var(--separacion); }

.tamEmpresas {
  width: 80%;
  height: 100%; }

#texModal {
  color: #090425; }

#centrar {
  text-align: center;
  width: 50%; }

#tamCarrusel img {
  width: 70%; }

/*BOX MODELIN EN EL HEADER*/
#cajaCabezera {
  height: 80%; }

.redSociales {
  height: 20%;
  text-align: right;
  padding-top: 50px; }

.logo {
  text-align: right; }

.imagen {
  width: 90px;
  margin-top: 20px; }

.imagenNav {
  width: 50px;
  margin-top: 5px; }

.pronto {
  text-align: center;
  font-size: 80%; }

.imagenFooter {
  width: 50%;
  margin-left: 20%; }

/* CONTENEDOR */
#flexMain {
  margin-top: 4%;
  padding: var(--separacion);
  color: var(--colorbody);
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  text-align: left; }

.subLista {
  padding-left: 10px;
  padding-top: 17px; }

/* FIN CONTENEDOR */
/* MAIN*/
.imgFoto {
  width: 150px; }

.imgFoto:hover {
  transform: scale(1.2, 1.2); }

.mainListas {
  list-style-type: square;
  list-style-position: outside;
  padding: 20px; }

/*FIN MAIN*/
@media only screen and (max-width: 900px) {
  .imagenFooter {
    width: 100%;
    margin-left: 20%; }
  .imgVideo {
    width: 100%; } }

@media only screen and (max-width: 600px) {
  .redSociales {
    height: 30px;
    text-align: center;
    padding-top: 50px; }
    .redSociales img {
      width: 40px; }
  .logo {
    text-align: right; }
    .logo img {
      width: 60px; }
  h1 {
    font-size: 20px; }
  #flexIndex {
    display: flex;
    flex-direction: column; }
  .imagenFooter {
    width: 50%;
    margin-left: 20%; }
  .imgVideo {
    width: 80%; } }
